<div class="container-fluid">
  <div class="row top-buffer">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">CF Login</h5>
          <form
            (ngSubmit)="onSubmit()"
            class="form-signin"
            #f="ngForm"
            [formGroup]="myForm"
            (keydown)="f.ngSubmit.emit()"
          >
            <div class="form-label-group">
              <input
                type="text"
                formControlName="userId"
                class="form-control"
                [formControl]="myForm.get('userId')"
                (onBlur)="f.ngSubmit.emit()"
              />
            </div>
            <div
              class="alert alert-danger"
              *ngIf="
                myForm.controls['userId'].invalid &&
                (myForm.controls['userId'].dirty ||
                  myForm.controls['userId'].touched)
              "
            >
              <div *ngIf="myForm.controls['userId'].errors.required">
                Name is required.
              </div>
            </div>

            <div class="form-label-group">
              <input
                type="password"
                formControlName="userPassword"
                class="form-control"
                [formControl]="myForm.get('userPassword')"
                (onBlur)="f.ngSubmit.emit()"
              />
            </div>
            <div
              class="alert alert-danger"
              *ngIf="
                myForm.controls['userPassword'].invalid &&
                (myForm.controls['userPassword'].dirty ||
                  myForm.controls['userPassword'].touched)
              "
            >
              <div *ngIf="myForm.controls['userPassword'].errors.required">
                Password is required.
              </div>
            </div>
            <button
              type="submit"
              [disabled]="myForm.pristine || myForm.invalid"
              class="btn btn-lg btn-primary btn-block text-uppercase"
            >
              Sign In
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
