<div class="container-fluid">
  <div class="row top-buffer">
    <div class="col-sm-4 column-buffer" *ngFor="let service of services">
      <div class="card text-white">
        <h5 class="card-header bg-info text-dark font-size-sm">
          Service Name:- {{service.name }}<br/>
          Service GUID:- {{service.guid }}<br/>
        </h5>
        <div class="card-body bg-dark">
          <h5 class="card-title text-info font-size-sm"></h5>
          <p class="card-text text-info font-size-sm">
            Details of {{service.name | uppercase}}
          </p>
          <a routerLink="" class="btn btn-success .spacer">Delete</a>
          <a routerLink="" class="btn btn-success .spacer">Show Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
