.top-buffer {
  padding-top: 4em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 4em;
}
.column-buffer {
  padding-top: 1em;
}
.font-size-sm { 
  font-size: .7rem; 
  font-weight:bold
}
a {
  line-height: 1em;
  display: inline-block;
  text-decoration: none;
  margin: .2em;
}