.bg-light {
  background-color: #c3cfdc !important;
}

/* .navbar {
  margin-bottom: 0.5em;
  background-color: #c3cfdc !important;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 10px grey;
}

li {
  padding: 0.3em 0.3em 0.3em 0.3em;
  margin: 0 0.3em 0 0.3em;
}

a {
  color: white;
}
.sticky-bottom {
  top: 0.5em;
} */
